#loginBody{
	background-image: url(http://web.mit.edu/21w.732-esg/www/bboards/bbs_class_4/732_board_class_4%20006.jpg);
	
}

#loginForm{
	background-color: #FFFFFF;
	margin-top: 300px;
	margin-left: 500px;
	margin-right: 500px;
	opacity : 0.9;
	font-family: "Georgia";
	font-size: 17px;
	 
}


#registerButton,#loginButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
#registerButton:hover, #loginButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
#registerButton:active {
	position:relative;
	top:1px;
}


#registrationBody{
	background-image: url(http://static1.squarespace.com/static/51e6ef1ee4b066098f513ab3/t/547005b7e4b01db2f7dc9904/1416627639697/class);
	background-size: 1450px 950px; 
}
#registrationForm{
	background-color: #FFD483;
	margin-top: 200px;
	margin-left: 500px;
	margin-right: 500px;
	opacity : 0.8;
	font-family: "Georgia";
	font-size: 17px;
	 
}

#submitButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
#submitButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
#submitButton:active {
	position:relative;
	top:1px;
}
#tabs{
	width:930px;
	float: left;
	height: 350px;
	margin-left: 50px;
	
}
#rightNavigation{
	background-color: #FFFFFF;
	float: right;
	margin-right: 40px;
	height: 180px;
	width: 250px;
}
#leftNavigation{
	margin-left:20px;
	float: left;
	height: 420px;
}
#middleDashboard{
	margin-top: 5px;
	background-color: #FFFFFF;
	width:935px;
	height :375px;
	float:left;
	border: 1px solid;
	margin-left: 50px;
}
#bottomDashboard{
	margin-top: 5px;
	float:left;
	width:935px;
	height :400px;
	border: 1px solid;
	margin-left: 120px;
}
#graph{
	
	float:left;
}
#submission{
	
	float: right;
}

#m1{
	background-color: #D3D3D3;
	float:left;
	margin-left:25px;
	width :200px;
	height:220px;
	
}

#m2{
	background-color: #D3D3D3;
	float:left;
	margin-left:10px;
	width :200px;
	height:220px;
}

#m3{
	background-color: #D3D3D3;
	float:left;
	margin-left:10px;
	width :200px;
	height:220px;
}
#m4{
	background-color: #D3D3D3;
	float:left;
	margin-left:10px;
	width :200px;
	height:220px;
}
#graph{
	margin-top:10px;
	float:left;
	margin-left:10px;
	width :450px;
	height:270px;
	border:1px solid;
}

#submission{
	margin-top:10px;
	float:left;
	margin-left:10px;
	width :450px;
	height:270px;
	border: 1px solid;
	
}

#graphHeader{
	font-family:Arial;
	font-size: 20px;
	padding-left:170px;
	padding-top:10px;
	background-color: #D3D3D3;
	height: 50px;
	
}
#submissionHeader{
	font-family:Arial;
	font-size: 20px;
	padding-left:120px;
	padding-top:10px;
	background-color: #D3D3D3;
	height: 50px;
	
}
#rightHeader{
	height: 50px;
	border: 1px solid;
	background-color: #D3D3D3;
}

#rightBody{
	margin-top: 10px;
	margin-left: 30px;
	
}

#r1{
	margin-top:5px;
	float: left;
}

#r2{
	float: left;
	margin-top:5px;
}
#r3{
	float:left;
	margin-top:5px;
}
#headerImage{
	float:left;
}
#welcomeUser{
	float:right;
}
#courseCreateForm{
	background-color: #FFFFFF;
	margin-top: 5px;
	align: center;
	margin-left: 70px;
	width:900px;
	float: left;
	height: 450px;
	
		
}
#leftNavigationCourse{
	margin-left:20px;
	float: left;
	height: 420px;
	
}

#courseTable{
	height:400px;
	
}

#caption{
	background-color: #D3D3D3;
	height: 50px;
	width: 900px;
} 
#nextCourseButton{
	background-color: #D3D3D3;
	width: 350px;
	height: 450px;
	margin-right: 15px;
	margin-top: 5px;
	float:right;
}
#leftNavigationHeading{
	float:left;
}
#headingTabs{
	margin-left: 100px;
	height:250px;
	width: 550px; 
	float: left;
}

#notificationHeader{
	border:1px;
	height: 20px;
	width: 349px
	background-color: #D3D3D3;
	font-weight: bold;
	
}
#notificationBody{
	border:1px;
	height:150px;
	background-color: white;
	width:349px;
}

.lbutton{
	
	height: 50px;
	width: 50px;
}

#displayCourse{
	float:left;
	margin-left: 100px;
	margin-top: 5px;
}
#deleteButton{
	padding-top: 30px;
}

.myDeleteButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myDeleteButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myDeleteButton {
	position:relative;
	top:1px;
}

.myDetailButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 31px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myDetailButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.myDetailButton {
	position:relative;
	top:1px;
}

.myActiveButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
}
.myActiveButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
.myActiveButton {
	position:relative;
	top:1px;
}

.circle{
	margin-top:45px;
	margin-left:40px;
	width: 130px;
	height: 130px;
	background: #006699;
	-moz-border-radius: 65px;
	-webkit-border-radius: 65px;
	border-radius: 65px;
}
#addCourseBody{
	background-image: url(http://www.franklinmedicalcentre.com/wp-content/uploads/Grey-Background-106.jpg);
}
#bodyBody{
	background-image: url(http://www.franklinmedicalcentre.com/wp-content/uploads/Grey-Background-106.jpg) ;
	background-size: 100% 100%;
}

.rightNavigationButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #050100));
	background:-moz-linear-gradient(top, #000000 5%, #050100 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #050100 100%);
	background:-o-linear-gradient(top, #000000 5%, #050100 100%);
	background:-ms-linear-gradient(top, #000000 5%, #050100 100%);
	background:linear-gradient(to bottom, #000000 5%, #050100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#050100',GradientType=0);
	background-color:#000000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.rightNavigationButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #050100), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #050100 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #050100 5%, #000000 100%);
	background:-o-linear-gradient(top, #050100 5%, #000000 100%);
	background:-ms-linear-gradient(top, #050100 5%, #000000 100%);
	background:linear-gradient(to bottom, #050100 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#050100', endColorstr='#000000',GradientType=0);
	background-color:#050100;
}
.rightNavigationButton:active {
	position:relative;
	top:1px;
}
#headingBody{
	background-image: url(http://www.franklinmedicalcentre.com/wp-content/uploads/Grey-Background-106.jpg);
}
#viewCourseBody{
	background-image: url(http://www.franklinmedicalcentre.com/wp-content/uploads/Grey-Background-106.jpg);
}

#displayCourseBody{
	background-image: url(http://www.franklinmedicalcentre.com/wp-content/uploads/Grey-Background-106.jpg);
}